.main-white__background {
  background: #FFFFFF !important;
}
.who-cares__banner {
	background: linear-gradient(90deg, #F2709C 0%, #FF9472 100%);
	height: 220px;
	width: 100%;
	@media (max-width: 776px) {
		height: 244px;
	}
	@media (max-width: 479px) {
		height: 284px;
	}
	@media (max-width: 400px) {
		height: 304px;
	}
}
.who-cares__banner-container {
	height: 220px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 5;
	@media (max-width: 776px) {
		flex-direction: column;
		height: 100%;
		padding: 30px 0;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}
.who-cares__banner-header {
	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #FFFFFF;
		font-size: 3*15px;
		line-height: 125%;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		@media (max-width: 1046px) {
			font-size: 2*15px;
			line-height: 112%;
			letter-spacing: 0.05em;
			text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
		}
		@media (max-width: 776px) {
			margin: 0 0 20px 0;
			padding: 0 15px;
		}
		@media (max-width: 479px) {
			font-size: 1.56*15px;
		}
	}
}
.who-cares__banner-info {
	font-family: 'Lato', sans-serif;
	width: 225px;
	max-height: 190px;
	overflow: hidden;
	color: #FFFFFF;
	p {
		font-weight: 600;
		font-size: 0.875*15px;
		line-height: 121%;
		margin: 0 0 8px 0;
	}
	span {
		display: block;
		font-weight: 700;
		font-size: 1.25*15px;
		line-height: 120%;
		margin: 0 0 9px 0;
	}
	@media (max-width: 776px) {
		height: inherit;
		width: 100%;
	}
}
.banner-info__summ {
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	margin: 0 0 18px 0;
	span {
		@media (max-width: 1046px) {
			display: none;
		}
	}
	@media (max-width: 776px) {
		margin: 0 30px 18px;
	}
}
.mobile__summ-view {
	display: none !important;
	@media (max-width: 1046px) {
		display: inherit !important;
	}
}
.banner-info__diagnosis {
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	@media (max-width: 776px) {
		border-bottom: none;
		padding: 0 15px;
	}
}

// -------------------------------------------------------
.who-cares__navigation {
	margin: 35px 0 100px 0;
	@media (max-width: 1146px) {
		margin: 35px 0 60px 0;
	}
	@media (max-width: 776px) {
		display: none;
	}
}
.who-cares__navigation-container {}

.who-cares__navigation-links {
	display: flex;
	width: 100%;
	padding: 25px 0;
}
.who-cares__navigation-link {
	&:not(:last-child) {
		margin:  0 6px 0 0;
	}
}
.who-cares__navigation-link-main {
	color: #A3A9AF;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 0.875*15px;
	line-height: 121%;
	&:hover {
		text-decoration: underline;
	}
}
.who-cares__navigation-link-divide {
	color: #A3A9AF;
	font-size: 0.875*15px;
	line-height: 121%;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}
.who-cares__navigation-link-current {
	color: #6E7C96;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 0.875*15px;
	line-height: 121%;
	&:hover {
		text-decoration: underline;
	}
}

// -------------------------------------------------------SLIDER
.separate__review {
	@media (max-width: 776px) {
		margin: 60px 0 0 0;
	}
}
.separate__review-container {
	@media (max-width: 1146px) {
		display: flex;
		flex-direction: column;
	}
}

.separate__review-header {
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #414449;
	font-weight: 700;
	font-size: 2.375*15px;
	line-height: 122%;
	margin: 0 0 30px 0;
	@media (max-width: 1146px) {
		order: 0;
		margin: 80px 0 0 0;
	}
	@media (max-width: 776px) {
		text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
		font-size: 1.56*15px;
		line-height: 112%;
		font-weight: 800;

	}
}
.separate__review-galery {
	@media (max-width: 1146px) {
		order: -1;
	}
}

.separate__review-items {
	height: 400px;
	position: relative;
	// Для галереи (моб версия) 
	@media (max-width: 1146px) {
		max-width: 1000px;
		margin: 0 auto;
	}
	@media (max-width: 876px) {
		height: 250px;
	}
	@media (max-width: 567px) {
		max-width: 380px;
	}
}
.separate__review-item {
	height: 400px;
	width: 741px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
  // это свойство не работает на IOS
  // overflow: hidden;
	// Для галереи (моб версия) 
	@media (max-width: 876px) {
		height: 250px;
		width: 463px;
	}
	@media (max-width: 567px) {
		height: 250px;
	}
	img {
		border-radius: 20px;
    @media (max-width: 567px) {
      width: 100%;
      height: 100%;
      // border-radius: 20px;
    }
		object-fit: cover;
	}
}
.separate__review-text {
	text-align: justify;
	margin: 30px 0 70px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.125*15px;
	line-height: 160%;
	color: #414449;
	p {
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}
	@media (max-width: 776px) {
		font-size: 1*15px;
		line-height: 140%;
		font-weight: 500;
	}
}
// =========================================================SLIDER
/* Ограничивающая оболочка */
.separate__review-items .slick-list {
	margin: 0 -16px;
 	overflow: hidden;
 	@media (max-width: 567px) {
		border-radius: 20px;
	}
}
/* Лента слайдов */
.separate__review-items .slick-track {
	// чтобы слайды выстроились в ряд
	display: flex;
	// чтобы добавить адаптивную высоту для картинок, то надо добавить
	align-items: center; // прижмет слайды к верху
	height: 400px;
	@media (max-width: 876px) {
		height: 250px;
	}
}
/* Слайд */
.separate__review-items .slick-slide {
 	margin: 0 16px;
 	opacity: 0.5;
 	@media (max-width: 1146px) {
 		opacity: 1;
 	}
}
.separate__review-items .slick-list.draggable {
	margin: 0 auto;
}

/* Слайд основной */
.slick-slide.slick-current {}
/* Слайд по центру */
.separate__review-items .slick-slide.slick-center {
	opacity: 1;
}

.separate__review-items .slick-arrow {
	position: absolute;
	bottom: 43%;
	z-index: 10;
	// чтобы убрать надписи на кнопках, то просто уменьшаем шрифт текста
	font-size: 0;
	width: 60px;
	height: 60px;
	border: 2px solid #E2E2E2;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	@media (max-width: 1146px) {
		border: none;
		background-color: none;
		top: 170px;
		width: 24px;
		height: 24px;
		border-radius: 0%;
	}
	@media (max-width: 876px) {
		top: 45%;
	}
	&:hover {
		border: 2px solid #719AED;
		@media (max-width: 1146px) {
			border: none;
		}
		&:before {
			background: #719AED;
			@media (max-width: 1146px) {
				background: #414449;
			}
		}
		&:after {
			background: #719AED;
			@media (max-width: 1146px) {
				background: #414449;
			}
		}
	}
	&:active {
		border: 2px solid #719AED;
		@media (max-width: 1146px) {
			border: none;
		}
		&:before {
			background: #719AED;
			@media (max-width: 1146px) {
				background: #414449;
			}
		}
		&:after {
			background: #719AED;
			@media (max-width: 1146px) {
				background: #414449;
			}
		}
	}
	&:before {
		transition: all 0.2s ease 0s;
		content: '';
		position: absolute;
		top: 19.5px;
		left: 27px;
		width: 2px;
		height: 10px;
		background: #E2E2E2;
		transform: rotate(35deg);
		border-radius: 5px;
		@media (max-width: 1146px) {
			top: 4px;
			left: 8.5px;
			background: #414449;
			border-radius: none;
		}
	}
	&:after {
		transition: all 0.2s ease 0s;
		content: '';
		position: absolute;
		top: 26.5px;
		left: 27px;
		width: 2px;
		height: 10px;
		background: #E2E2E2;
		transform: rotate(-35deg);
		border-radius: 5px;
		@media (max-width: 1146px) {
			top: 10px;
			left: 8.5px;
			background: #414449;
			border-radius: none;
		}
	}
}
.separate__review-items .slick-arrow.slick-prev {
  left: 290px;
  @media (max-width: 1310px) {
  	left: 274px;
  }
  @media (max-width: 1287px) {
  	left: 264px;
  }
  @media (max-width: 1260px) {
  	left: 254px;
  }
  @media (max-width: 1220px) {
  	left: 234px;
  }
  @media (max-width: 1190px) {
  	left: 214px;
  }
  @media (max-width: 1146px) {
  	left: -15px;
  }
  @media (max-width: 1046px) {
  	left: -5px;
  }
	@media (max-width: 567px) {
		left: -15px;
	}
}
.separate__review-items .slick-arrow.slick-next {
  right: 290px;
  transform: scaleX(-1);
  @media (max-width: 1310px) {
  	right: 274px;
  }
  @media (max-width: 1287px) {
  	right: 264px;
  }
  @media (max-width: 1260px) {
  	right: 254px;
  }
  @media (max-width: 1220px) {
  	right: 234px;
  }
  @media (max-width: 1190px) {
  	right: 214px;
  }
  @media (max-width: 1146px) {
  	right: -15px;
  }
  @media (max-width: 1046px) {
  	right: -5px;
  }
	@media (max-width: 567px) {
		right: -15px;
	}
}
.separate__review-items .slick-arrow.slick-disabled {
	opacity: 0.5;
	&:hover {
		border: 2px solid #E2E2E2;
		@media (max-width: 1146px) {
			border: none;
		}
		&:after {
			background: #E2E2E2;
		}
		&:before {
			background: #E2E2E2;
		}
	}
}
// ------------------DOTS
/* Точки (булиты) */
.separate__review-items .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0 0 0;
}
.separate__review-items .slick-dots {
	li {
		list-style: none;
		margin: 0px 10px;
	}
}
/* Элемент точки */
.separate__review-items .slick-dots {
	button {
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color: #BEC5CC;
		border-radius: 50%;
	}
}
/* Активная точка */
.separate__review-items .slick-active {
	button {
		background: linear-gradient(99.04deg, rgba(247, 35, 86, 0.88) 2.83%, rgba(251, 57, 127, 0.88) 52.94%, rgba(251, 75, 0, 0.88) 95.33%);
	}
}
// -------------------------------------------------------

.separate__help-child {
	background: #EBE9E6;
	padding: 100px 0 120px 0;
	@media (max-width: 776px) {
		padding: 80px 0;
	}
}
.separate__help-child-container {
	@media (max-width: 479px) {
		flex-direction: column;
		align-items: flex-start;
	}
}
._container {}
.help-child__header {
	font-family: 'Roboto', sans-serif;
	color: #6E7C96;
	font-weight: 800;
	font-size: 2*15px;
	line-height: 130%;
	text-transform: uppercase;
	letter-spacing: 0.015em;
	margin:  0 0 60px 0;
	@media (max-width: 479px) {
		color: #414449;
		font-size: 1.56*15px;
		letter-spacing: 0.05em;
		line-height: 112%;
		margin: 0 0 52px 0;
	}
}
.main__payment {
	margin: 0 auto 0 auto;
}