// -------------------------------------------------------------------POPUPS
/* 
// Для JS прописан в файле обнуления
body.lock {
  overflow: hidden;
}
 */
.popup__link {}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		linear-gradient(99.04deg, rgba(255, 96, 96, 0.6) 2.83%, rgba(255, 104, 159, 0.6) 52.94%, rgba(255, 148, 115, 0.6) 95.33%);
	top:0;
	left: 0;
	// чтобы попап появлялся с анимицией красиво, то нельзя display none/block использовать
	// делаем иначе убирая проявление и возможность выделения
	opacity: 0;
	visibility: hidden;
	// чтобы был скролл, если много текста
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 50000;
}
// на теге header для расчета ширины скролла 
.lock-padding {}
// -----------------------------------------------
// Тут используем JS (тоже самое, но при получении класс open)
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
	opacity: 1;
}
// ---------------------------------------------------------- стилизация попапа (общий)
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	// чтобы не прилипал к краям экрана
	padding: 30px 10px;
}
.popup__content {
	background: #FFFFFF;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	// анимация
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
// ---------------------------------------------------------------------(popup__partner)
.partners-content {
	width: 400px;
	background-color: #FFFFFF;
	padding: 25px 30px;
	margin: 60px 0 0 0;
	@media (max-width: 479px) {
		width: 300px;
		padding: 40px 20px 30px;
	}
}
.partners-popup__close {
	position: absolute;
	right: -35px;
	top: -20px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #ECEEF5;
	@media (max-width: 479px) {
		right: 0px; 
		top: -45px;
	}
	&:before {
			position: absolute;
			top: 12px;
			left: 5.5px;
			content: '';
			width: 15px;
			height: 2px;
			background: #ECEEF5;
			border-radius: 5px;
			transform: rotate(45deg);
		}
		&:after {
			position: absolute;
			top: 12px;
			left: 5.5px;
			content: '';
			width: 15px;
			height: 2px;
			border-radius: 5px;
			background: #ECEEF5;
			transform: rotate(-45deg);
		}
}

.partners-content__title {
	color: #414449;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 1.5*15px;
	line-height: 130%;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	margin: 0 0 7px 0;
	@media (max-width: 479px) {
		font-size: 1.25*15px;
		text-align: center;
		margin: 0 0 12px 0;
	}
}
.partners-content__info {
	color: #767885;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 1*15px;
	line-height: 125%;
	margin: 0 0 25px 0;
	@media (max-width: 479px) {
		font-size: 0.875*15px;
		line-height: 121%;
		text-align: center;
	}
}

.partners-content__form {}
.partners-form {}

.partners-separate-field {
	width: 100%;
	margin: 0 0 15px 0;
	background: #E4E4E4;
	border-radius: 10px;
	padding: 17px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 1*15px;
	color: #000;
	border: 2px solid transparent;
	@media (max-width: 479px) {
		background: #F7F7F7;
		margin: 0 0 10px 0;
	}
	// цвет placeholder
	&::-webkit-input-placeholder {
		font-size: 0.875*15px;
		color: #A3A9AF;
	}
	&::-moz-placeholder {
		font-size: 0.875*15px;
		color: #A3A9AF;
	}
	&::-ms-input-placeholder {
		font-size: 0.875*15px;
		color: #A3A9AF;
	}
	// при клике чтобы placeholder исчезал css или через js
	&:focus::-webkit-input-placeholder {
  	color: transparent
	}
	&:focus::-moz-placeholder {
	  color: transparent
	}
	&:focus:-moz-placeholder {
	  color: transparent
	}
	&:focus:-ms-input-placeholder {
	  color: transparent
	}
	&:focus {
		border: 2px solid #70AAF8;
	}
}
.partners-form__name {}
.partners-form__email {}
.partners-form__phone {}
.partners-form__message {
	max-height: 120px;
	resize: none;
}
.partners-form__logo {
	width: 100%;
	position: relative;
	@media (max-width: 479px) {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 10px 0 0 0;
	}
	// for file
	b {
		color: #719AED;
		opacity: 0.8;
		font-size: 0.75*15px;
		line-height: 120%;
		font-weight: 400;
		display: block;
		cursor: pointer;
		margin: 5px 0 0 0;
	}
}
.partners-form__input {}
.input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
.input__file-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	width: 160px;
}
.input__file-vector {
	margin: 0 12px 0 0;
}
.input__file-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 0.875*15px;
	line-height: 125%;
	color: #719AED;
}
.input__file-result {}
.partners-form__button {
	margin: 30px 0 0 0;
	width: 100%;
	background: none;
}
.partners-form__link {
	display: block;
	width: 100%;
	background: linear-gradient(99.04deg, #FF6060 2.83%, #FF689F 52.94%, #FF9473 95.33%);
	border-radius: 50px;
	padding: 19px 0 17px 0;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1em;
	font-size: 0.875*15px;
	line-height: 128%;
	font-weight: 800;
	&:hover {
		background: linear-gradient(99.04deg, #FF7C7C 2.83%, #FF8CB6 52.94%, #FFA487 95.33%);
	}
	&:active {
		background: linear-gradient(99.04deg, rgba(247, 35, 86, 0.88) 2.83%, rgba(251, 57, 127, 0.88) 52.94%, rgba(251, 75, 0, 0.88) 95.33%);
	}
}

.popup__link {}
.partners-content__agreement {
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
	color: #A3A9AF;
	font-weight: 500;
	font-size: 0.75*15px;
	line-height: 138%;
	@media (max-width: 479px) {
		text-align: center;
		font-size: 0.75*15px;
		line-height: 125%;
	}
	a {
		display: inline-block;
		padding: 0 0 0.2px 0;
		border-bottom: 1px solid #464343;
		color: #464343;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #000;
			border-bottom: 1px solid #FFFF;
		}
	}
}
.popup-form-br {
	display: none;
	@media (max-width: 479px) {
		display: inherit;
	}
}
// ---------------------------------------------------------------------(popup__success)
.successfully-sent {
	width: 400px;
	background-color: #FFFFFF;
	padding: 45px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 479px) {
		width: 300px;
		padding: 30px;
	}
	h2 {
		font-family: 'Roboto', sans-serif;
		font-weight: 800;
		font-size: 1.5*15px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.015em;
		text-transform: uppercase;
		color: #414449;
		margin: 0 0 32px 0;
		@media (max-width: 479px) {
			font-size: 1.25*15px;
			margin: 0 0 12px 0;
		}
		span {
			color: #719AED;
		}
		
	}
	p {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 1*15px;
		line-height: 125%;
		text-align: center;
		color: #767885;
		margin: 0 0 34px 0;
		@media (max-width: 479px) {
			font-size: 0.875*15px;
			line-height: 121%;
			padding: 0 5px;
			margin: 0 0 15px 0;
		}
	}
}
.successfully-sent__icon {
	height: 130px;
	width: 130px;
	background: #A1DB6F;
	border-radius: 50%;
	position: relative;
	margin: 0 0 34px 0;
	@media (max-width: 479px) {
		order: -1;
		height: 100px;
		width: 100px;
		margin: 0 0 20px 0;
	}
	&:before {
			position: absolute;
			top: 68px;
			left: 27px;
			content: '';
			width: 40px;
			height: 12px;
			background: #FFFFFF;
			border-radius: 10px;
			transform: rotate(45deg);
			@media (max-width: 479px) {
				width: 35px;
				height: 10px;
				top: 52px;
				left: 21px;
			}
		}
	&:after {
		position: absolute;
		top: 58px;
		left: 44px;
		content: '';
		width: 70px;
		height: 12px;
		background: #FFFFFF;
		border-radius: 10px;
		transform: rotate(-45deg);
		@media (max-width: 479px) {
			width: 50px;
			height: 10px;
			top: 46px;
			left: 36.5px;
		}
	}
}
.successfully-sent__close {
	color: #414449;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 0.875*15px;
	line-height: 121%;
	padding: 0 0 0.5px 0;
	border-bottom: 1px solid #414449;
	transition: all 0.3s ease 0s;
	&:hover {
		color: #000;
		border-bottom: 1px solid #000;
	}
}
.close-popup {}