// Шрифты
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// font-family: 'Lato', sans-serif;
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;
// Gilroy ExtraBold
@import url('//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold');
// font-family: 'Gilroy', sans-serif;

/*Обнуление стилей*/
/*1) Очищаем все отступы и границы*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

/*2) Меняет подсчет ширины блока для удобства верстки*/
*,
*:before,
*:after {
   box-sizing: border-box;
}

/*3) Убираем линии обводки у некоторых браузеров*/
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

/*4) Делаем теги блочными*/
nav,
footer,
header,
aside {
   display: block;
}

/*5) Уравнивание поведения шрифтов и элементов для разных браузеров*/
/*+запрет самовольного увеличения шрифта на телефонах, например IPhone*/
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   list-style: 1;
   shape-outside: 14px;
   background-color: #EBE9E6;
   line-height: 100%;
   // чтобы не было произвольного горизонтального скролла
   //   overflow-x: hidden; // это свойство ломает JS scroll 

   /* для zoom (не поддерживается Firefox) */
   // @media screen and (min-device-width: 1047px) and (max-device-width: 1920px) {
   //   zoom: 0.9 !important;
   // }
   // @media screen and (max-device-width: 776px) {
   //   zoom: 1 !important;
   // }
}

/*6) Наследование семейства шрифта для этих тегов, так как по умолчанию они не наследуют*/
input,
button,
textarea {
   font-family: inherit;
}

/*7) Убирают некоторые особенности тегам в разных браузерах*/
input:-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button:-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul,
li,
ol {
   list-style: none;
}

/* выровнено по верху, чтобы не было снизу артефактного отступа */
img {
   vertical-align: top;
}

/*8) Обнуляем все заголовки h*/
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

// Для JS (Класс, блокирующий прокрутку контента под активным меню бургером)
body.lock {
   height: 100%;
   overflow: hidden;
}