.fonds__banner {
  background: -webkit-gradient(linear, left top, right top, from(#F2709C), to(#FF9472));
  background: linear-gradient(90deg, #F2709C 0%, #FF9472 100%);
  height: 220px;
  width: 100%;
}

@media (max-width: 776px) {
  .fonds__banner {
    height: 260px;
  }
}

.fonds__banner-container {
  height: 220px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

@media (max-width: 776px) {
  .fonds__banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 260px;
  }
}

.fonds__banner-header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 45px;
  line-height: 125%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

@media (max-width: 1046px) {
  .fonds__banner-header h1 {
    font-size: 30px;
  }
}

@media (max-width: 776px) {
  .fonds__banner-header h1 {
    font-size: 27px;
    letter-spacing: 0.05em;
    font-weight: 800;
    line-height: 112%;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    margin: 15px 0 0 0;
  }
}

@media (max-width: 479px) {
  .fonds__banner-header h1 {
    font-size: 23.4px;
  }
}

@media (max-width: 776px) {
  .fonds__banner-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.fonds__banner-image1 {
  position: absolute;
  top: 0;
  right: 150px;
  z-index: 4;
  width: 528px;
  height: 220px;
}

.fonds__banner-image1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1046px) {
  .fonds__banner-image1 {
    right: 50px;
  }
}

@media (max-width: 776px) {
  .fonds__banner-image1 {
    display: none;
  }
}

.fonds__banner-mobile {
  display: none;
}

@media (max-width: 776px) {
  .fonds__banner-mobile {
    display: inherit;
    position: relative;
    width: 236px;
    height: 177px;
  }
}

.fonds__banner-image1-mobile {
  width: 236px;
  height: 177px;
}

.fonds__banner-image1-mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fonds__navigation {
  margin: 35px 0 0 0;
}

@media (max-width: 776px) {
  .fonds__navigation {
    display: none;
  }
}

.fonds__navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 0;
}

.fonds__navigation-link {
  height: 17px;
}

.fonds__navigation-link:not(:last-child) {
  margin: 0 6px 0 0;
}

.fonds__navigation-link-main {
  color: #A3A9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
}

.fonds__navigation-link-main:hover {
  text-decoration: underline;
}

.fonds__navigation-link-divide {
  color: #A3A9AF;
  font-size: 13.125px;
  line-height: 121%;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.fonds__navigation-link-current {
  color: #6E7C96;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
}

.fonds__navigation-link-current:hover {
  text-decoration: underline;
}

.fonds__intro {
  display: block;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background: #FFFFFF;
  width: 1520px;
  height: 552px;
  margin: 50px auto 90px auto;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1520px) {
  .fonds__intro {
    width: inherit;
  }
}

@media (max-width: 1150px) {
  .fonds__intro {
    height: 340px;
  }
}

@media (max-width: 1060px) {
  .fonds__intro {
    height: auto;
  }
}

@media (max-width: 776px) {
  .fonds__intro {
    margin: 60px auto 80px auto;
  }
}

.fonds__intro-background {
  position: absolute;
  top: -210px;
  left: -100px;
  z-index: 2;
  background: linear-gradient(91.01deg, rgba(135, 133, 255, 0.5) 0%, rgba(116, 127, 226, 0.5) 50.52%, rgba(94, 205, 218, 0.5) 100%), #70AAF8;
  width: 972px;
  height: 972px;
  border-radius: 50%;
  border: 5px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1376px) {
  .fonds__intro-background {
    left: -295px;
  }
}

@media (max-width: 1150px) {
  .fonds__intro-background {
    top: -316px;
    left: -370px;
  }
}

@media (max-width: 1076px) {
  .fonds__intro-background {
    left: -380px;
  }
}

@media (max-width: 1060px) {
  .fonds__intro-background {
    display: none;
  }
}

.fonds__intro-blocks {
  width: 100%;
  padding: 60px 0;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .fonds__intro-blocks {
    padding: 50px 0;
  }
}

@media (max-width: 1060px) {
  .fonds__intro-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro-block_1 {
  width: 580px;
  max-height: 450px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  position: relative;
}

@media (max-width: 1150px) {
  .intro-block_1 {
    width: 550px;
    max-height: 250px;
  }
}

@media (max-width: 1060px) {
  .intro-block_1 {
    margin: 0 0 40px 0;
    max-height: inherit;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(91.01deg, rgba(135, 133, 255, 0.5) 0%, rgba(116, 127, 226, 0.5) 50.52%, rgba(94, 205, 218, 0.5) 100%), #70AAF8;
    border-radius: 50px;
    border: 5px solid #E4E4E4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px;
  }
}

@media (max-width: 776px) {
  .intro-block_1 {
    border-radius: 70px;
  }
}

@media (max-width: 676px) {
  .intro-block_1 {
    border-radius: 90px;
  }
}

@media (max-width: 576px) {
  .intro-block_1 {
    border-radius: 110px;
  }
}

@media (max-width: 479px) {
  .intro-block_1 {
    padding: 0;
    margin: -180px 0 40px 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 600px;
    width: 600px;
    padding: 0 105px 80px;
    border-radius: 50%;
  }
}

@media (max-width: 420px) {
  .intro-block_1 {
    height: 700px;
    width: 700px;
    margin: -200px 0 40px 0;
    padding: 0 180px 80px;
  }
}

@media (max-width: 350px) {
  .intro-block_1 {
    padding: 0 195px 60px;
  }
}

.intro-block_1 h2 {
  font-weight: 600;
  font-size: 34.5px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 0 0 12px 0;
}

@media (max-width: 1150px) {
  .intro-block_1 h2 {
    font-size: 18.75px;
    line-height: 140%;
    font-weight: 800;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    width: 100%;
  }
}

.intro-block_1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  width: 540px;
}

@media (max-width: 1150px) {
  .intro-block_1 p {
    font-size: 13.125px;
    line-height: 142%;
    font-weight: 500;
  }
}

@media (max-width: 1060px) {
  .intro-block_1 p {
    width: 100%;
  }
}

.intro-block_2 {
  width: 450px;
  max-height: 295px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1150px) {
  .intro-block_2 {
    max-height: 250px;
  }
}

@media (max-width: 1060px) {
  .intro-block_2 {
    width: 100%;
    max-height: inherit;
    height: auto;
    padding: 0 50px;
  }
}

@media (max-width: 479px) {
  .intro-block_2 {
    padding: 0 15px;
  }
}

@media (max-width: 350px) {
  .intro-block_2 {
    padding: 0;
  }
}

.intro-block_2 span {
  display: inline-block;
  color: #414449;
  width: 425px;
  font-weight: 600;
  font-size: 20.625px;
  line-height: 125%;
  margin: 0 0 20px 0;
}

@media (max-width: 1150px) {
  .intro-block_2 span {
    font-size: 16.875px;
    line-height: 120%;
    font-weight: 600;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    margin: 0 0 14px 0;
  }
}

@media (max-width: 1060px) {
  .intro-block_2 span {
    width: 100%;
  }
}

.intro-block_2 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  color: #767885;
  width: 440px;
}

@media (max-width: 1150px) {
  .intro-block_2 p {
    font-weight: 500;
    line-height: 140%;
  }
}

@media (max-width: 1060px) {
  .intro-block_2 p {
    width: 100%;
  }
}

.fonds__soviet {
  margin: 0 0 60px 0;
}

.fonds__soviet-header {
  margin: 0 0 40px 0;
}

.fonds__soviet-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1046px) {
  .fonds__soviet-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.soviet-item {
  background: #E4E4E4;
  width: 628px;
  height: 442px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.soviet-item:nth-child(odd) {
  margin: 0 15px 50px 0;
}

.soviet-item:nth-child(even) {
  margin: 0 0 50px 0;
}

@media (max-width: 1300px) {
  .soviet-item {
    height: none;
  }
  .soviet-item:nth-child(odd) {
    margin: 0 0px 50px 0;
  }
}

.soviet-item__specialized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 40px 50px;
}

@media (max-width: 1300px) {
  .soviet-item__specialized {
    width: 100%;
    height: inherit;
    background: #FFFFFF;
    padding: 30px;
  }
}

.soviet-item__specialized-header {
  max-height: 65px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 23.25px;
  line-height: 130%;
  color: #414449;
  margin: 0 0 15px 0;
}

@media (max-width: 1300px) {
  .soviet-item__specialized-header {
    max-height: inherit;
  }
}

@media (max-width: 776px) {
  .soviet-item__specialized-header {
    font-size: 16.875px;
    line-height: 120%;
    font-weight: 600;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    margin: 0 0 25px 0;
  }
}

.soviet-item__specialized-text {
  max-height: 219px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .soviet-item__specialized-text {
    max-height: inherit;
    margin: 0 0 25px 0;
  }
}

.soviet-item__specialized-text p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 145%;
  color: #767885;
  width: 526px;
}

.soviet-item__specialized-text p:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 1300px) {
  .soviet-item__specialized-text p {
    width: 100%;
  }
}

@media (max-width: 776px) {
  .soviet-item__specialized-text p {
    font-weight: 500;
    line-height: 140%;
  }
}

@media (max-width: 1300px) {
  .soviet-item__specialized-button {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 370px) {
  .soviet-item__specialized-button a {
    padding: 18px 25px 16px;
    font-size: 13.125px;
    letter-spacing: 0.03em;
    line-height: 125%;
  }
}

.soviet-item__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .soviet-item__card {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 650px) {
  .soviet-item__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 380px;
    background: #FFFFFF;
  }
}

@media (max-width: 479px) {
  .soviet-item__card {
    width: 320px;
  }
}

@media (max-width: 370px) {
  .soviet-item__card {
    width: 300px;
  }
}

.soviet-item__card-img-container {
  width: 260px;
  height: 267px;
}

@media (max-width: 1300px) {
  .soviet-item__card-img-container {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 776px) {
  .soviet-item__card-img-container {
    width: 260px;
    height: 267px;
  }
}

@media (max-width: 650px) {
  .soviet-item__card-img-container {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 479px) {
  .soviet-item__card-img-container {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 370px) {
  .soviet-item__card-img-container {
    width: 300px;
    height: 300px;
  }
}

.soviet-item__card-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.soviet-item__card-ticket {
  font-family: 'Lato', sans-serif;
}

.soviet-item__card-fio {
  padding: 18px 25px 0;
  margin: 0 0 9px 0;
  color: #6E7C96;
  width: 260px;
  font-weight: 700;
  font-size: 16.875px;
  line-height: 122%;
  max-height: 84px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .soviet-item__card-fio {
    color: #414449;
    font-size: 23.4px;
    line-height: 120%;
    font-weight: 600;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    overflow: inherit;
    max-height: inherit;
    width: 100%;
  }
}

@media (max-width: 776px) {
  .soviet-item__card-fio {
    font-size: 16.875px;
  }
}

@media (max-width: 650px) {
  .soviet-item__card-fio {
    font-size: 23.4px;
  }
}

.soviet-item__card-text {
  color: #767885;
  font-weight: 400;
  font-size: 13.125px;
  line-height: 130%;
  padding: 0 25px 18px;
  max-height: 75px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .soviet-item__card-text {
    overflow: inherit;
    max-height: inherit;
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
  }
}

@media (max-width: 776px) {
  .soviet-item__card-text {
    font-size: 13.125px;
  }
}

@media (max-width: 650px) {
  .soviet-item__card-text {
    font-size: 15px;
  }
}

.soviet-item__card-spoiler {
  display: none;
}

@media (max-width: 650px) {
  .soviet-item__card-spoiler {
    display: inherit;
    padding: 0 0 25px 25px;
    width: 150px;
  }
}

.visible-button {
  display: block !important;
}

.inactive-spoiler {
  display: none;
  padding: 0 28px 0;
  font-family: 'Lato', sans-serif;
  font-size: 13.125px;
  font-weight: 500;
  line-height: 140%;
  color: #719AED;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.inactive-spoiler:before {
  position: absolute;
  content: '';
  top: 8px;
  left: 3.4px;
  width: 10px;
  height: 2.5px;
  background: #719AED;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.inactive-spoiler:after {
  position: absolute;
  content: '';
  top: 8px;
  left: 8.5px;
  width: 10px;
  height: 2.5px;
  background: #719AED;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.active-spoiler {
  display: none;
  padding: 0 28px 0;
  font-family: 'Lato', sans-serif;
  font-size: 13.125px;
  font-weight: 500;
  line-height: 140%;
  color: #719AED;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.active-spoiler:before {
  position: absolute;
  content: '';
  top: 8px;
  left: 3.4px;
  width: 10px;
  height: 2.5px;
  background: #719AED;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.active-spoiler:after {
  position: absolute;
  content: '';
  top: 8px;
  left: 8.5px;
  width: 10px;
  height: 2.5px;
  background: #719AED;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.soviet-item__card-info {
  background: #FFFFFF;
  padding: 30px;
}

@media (max-width: 650px) {
  .soviet-item__card-info {
    padding: 25px;
  }
}

.info__soviet-card {
  font-family: 'Gilroy', sans-serif;
}

@media (max-width: 650px) {
  .info__soviet-card {
    display: none;
  }
}

.active-info-spoiler {
  display: block !important;
}

.info__soviet-card-all {
  height: 382px;
  overflow: auto;
}

@media (max-width: 1300px) {
  .info__soviet-card-all {
    overflow: inherit;
    height: inherit;
  }
}

.info__soviet-card-intro {
  display: inline-block;
  color: #414449;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 135%;
  margin: 0 0 15px 0;
}

@media (max-width: 1300px) {
  .info__soviet-card-intro {
    font-size: 22.5px;
  }
}

@media (max-width: 876px) {
  .info__soviet-card-intro {
    font-size: 18.75px;
    line-height: 140%;
  }
}

@media (max-width: 776px) {
  .info__soviet-card-intro {
    font-size: 13.125px;
  }
}

.info__soviet-card-more {
  font-weight: 400;
  font-size: 13.125px;
  line-height: 140%;
  color: #767885;
}

@media (max-width: 1300px) {
  .info__soviet-card-more {
    font-size: 18.75px;
  }
}

@media (max-width: 876px) {
  .info__soviet-card-more {
    font-size: 15px;
  }
}

@media (max-width: 776px) {
  .info__soviet-card-more {
    font-size: 13.125px;
  }
}

.info__soviet-card-more p {
  font-weight: 400;
  font-size: 13.125px;
  line-height: 140%;
  color: #767885;
}

.info__soviet-card-more p:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 1300px) {
  .info__soviet-card-more p {
    font-size: 18.75px;
  }
}

@media (max-width: 876px) {
  .info__soviet-card-more p {
    font-size: 15px;
  }
}

@media (max-width: 776px) {
  .info__soviet-card-more p {
    font-size: 13.125px;
  }
}

.documents {
  text-align: center;
}

.docitem a {
  font-size: 13.125px;
  line-height: 140%;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #719AED;
  cursor: pointer;
}
