@media (max-width: 776px) {
  .projects-separate__navigation {
    display: none;
  }
}

.baby-story__information {
  margin: 70px 0 80px 0;
  min-height: 409px;
}
@media (max-width: 1336px) {
  .baby-story__information {
    margin: 60px 0 80px 0;
  }
}

.baby-story__information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1336px) {
  .baby-story__information-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.baby-story__info {
  margin: 0 65px 0 0;
}
@media (max-width: 1336px) {
  .baby-story__info {
    margin: 0;
  }
}

.story__info-statistic {
  width: 741px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #ECEEF5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 0 0 30px 0;
}
@media (max-width: 1336px) {
  .story__info-statistic {
    margin: 0 auto 30px;
  }
}
@media (max-width: 776px) {
  .story__info-statistic {
    margin: 0 auto 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    width: 406px;
  }
}
@media (max-width: 479px) {
  .story__info-statistic {
    width: 100%;
  }
}

.info-statistic__baby {
  height: auto;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 479px) {
  .info-statistic__baby {
    width: 100%;
    height: auto;
  }
}
.info-statistic__baby img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 776px) {
  .info-statistic__baby img {
    border-radius: 20px 20px 0 0;
  }
}

.info-statistic__result {
  padding: 35px 45px;
  width: 332px;
  height: auto;
}
@media (max-width: 776px) {
  .info-statistic__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .info-statistic__result {
    padding: 25px;
  }
}

.statistic__result-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}
@media (max-width: 776px) {
  .statistic__result-counters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

.result-counters-items {
  margin: 0 20px 0 0;
}
@media (max-width: 776px) {
  .result-counters-items {
    margin: 0;
  }
}

.result-counters-item {
  border-bottom: 1px dashed #DDDDDD;
  padding: 0 0 14px 0;
}
@media (max-width: 776px) {
  .result-counters-item {
    border-bottom: none;
    padding: 0;
  }
}
.result-counters-item:not(:last-child) {
  margin: 0 0 8px 0;
}
@media (max-width: 776px) {
  .result-counters-item:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
.result-counters-item p {
  color: #A3A9AF;
  font-family: "Lato", sans-serif;
  font-size: 13.125px;
  font-weight: 400;
  line-height: 125%;
  margin: 0 0 2px 0;
}
@media (max-width: 776px) {
  .result-counters-item p {
    font-weight: 500;
    color: #6E7C96;
    font-size: 15px;
    line-height: 140%;
    margin: 0 0 12px 0;
  }
}
.result-counters-item span {
  color: #6E7C96;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 13.125px;
  line-height: 121%;
  letter-spacing: 0.035em;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.statistic__result-progress {
  --p:20;
  --b:10px;
  --c:#70AAF8;
  --w:100px;
  width: var(--w);
  height: 100px;
  aspect-ratio: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 776px) {
  .statistic__result-progress {
    margin: 25px 0 0 0;
    --w:121px;
    height: 121px;
    --b:7px;
  }
}

.statistic__result-progress:before,
.statistic__result-progress:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.statistic__result-progress:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.statistic__result-progress:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  -webkit-transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
          transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  -webkit-animation: p 1s 0.5s both;
          animation: p 1s 0.5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@-webkit-keyframes p {
  from {
    --p:0;
  }
}

@keyframes p {
  from {
    --p:0;
  }
}
.statistic__result-percent {
  width: 58px;
  height: 58px;
  background: #E4E4E4;
  color: #414449;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16.875px;
  line-height: 122%;
  color: #414449;
}
@media (max-width: 776px) {
  .statistic__result-percent {
    font-weight: 600;
    line-height: 125%;
    width: 80px;
    height: 80px;
  }
}

.statistic__result-baby-name {
  color: #6E7C96;
  font-family: "Lato", sans-serif;
  font-size: 28.125px;
  line-height: 115%;
  font-weight: 500;
  margin: 0 0 8px 0;
  max-width: 250px;
  overflow: hidden;
}
@media (max-width: 776px) {
  .statistic__result-baby-name {
    max-width: inherit;
    overflow: none;
    color: #414449;
    font-size: 23.4px;
    line-height: 120%;
    font-weight: 600;
    margin: 0 0 12px 0;
  }
}

.statistic__result-place {
  color: #414449;
  font-family: "Lato", sans-serif;
  font-family: 13.125px;
  line-height: 121%;
  font-weight: 600;
  margin: 0 0 10px 0;
}
@media (max-width: 776px) {
  .statistic__result-place {
    border-bottom: 1px dashed #C9C9C9;
    padding: 0 0 15px 0;
  }
}

.statistic__result-diagnosis {
  color: #A3A9AF;
  font-family: "Lato", sans-serif;
  font-size: 13.125px;
  font-weight: 400;
  line-height: 125%;
  margin: 0 0 2px 0;
}
@media (max-width: 776px) {
  .statistic__result-diagnosis {
    margin: 0 0 5px 0;
  }
}

.statistic__result-diagnosis-intro {
  color: #767885;
  font-family: "Lato", sans-serif;
  font-size: 13.125px;
  font-weight: 400;
  line-height: 125%;
  margin: 0 0 18px 0;
  text-transform: lowercase;
}
@media (max-width: 776px) {
  .statistic__result-diagnosis-intro {
    overflow: none;
    max-height: inherit;
    color: #414449;
    margin: 0 0 25px 0;
    text-transform: none;
  }
}

.statistic__result-help-baby {
  font-family: "Gilroy", sans-serif;
  font-size: 11.625px;
  line-height: 100%;
  font-weight: 800;
  color: #FFFFFF;
  padding: 19px 20px;
  text-transform: uppercase;
  background: linear-gradient(99.04deg, #FF6060 2.83%, #FF689F 52.94%, #FF9473 95.33%);
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 776px) {
  .statistic__result-help-baby {
    padding: 18px 25px 16px;
    font-size: 15px;
    line-height: 121%;
    letter-spacing: 0.03em;
    font-weight: 600;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 479px) {
  .statistic__result-help-baby {
    padding: 18px 20px 16px;
    font-size: 13.5px;
  }
}
@media (max-width: 350px) {
  .statistic__result-help-baby {
    padding: 18px 15px 16px;
    font-weight: 700;
  }
}
.statistic__result-help-baby:hover {
  background: linear-gradient(99.04deg, #FF7C7C 2.83%, #FF8CB6 52.94%, #FFA487 95.33%);
}
.statistic__result-help-baby:active {
  background: linear-gradient(99.04deg, rgba(247, 35, 86, 0.88) 2.83%, rgba(251, 57, 127, 0.88) 52.94%, rgba(251, 75, 0, 0.88) 95.33%);
}

.story__info-history {
  text-align: justify;
  width: 741px;
  color: #767885;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16.875px;
  line-height: 160%;
}
@media (max-width: 776px) {
  .story__info-history {
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
  }
}
@media (max-width: 1336px) {
  .story__info-history {
    width: 100%;
  }
}
.story__info-history > p:not(:last-child) {
  margin: 0 0 10px 0;
}

.story__info-baby-history {
  color: #414449;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 35.625px;
  line-height: 122%;
  margin: 0 0 20px 0;
}
@media (max-width: 1336px) {
  .story__info-baby-history {
    text-align: center;
  }
}
@media (max-width: 776px) {
  .story__info-baby-history {
    font-size: 23.4px;
    line-height: 120%;
    font-weight: 600;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    margin: 0 0 30px 0;
    text-align: left;
  }
}

.baby-story__articles {
  width: 485px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1336px) {
  .baby-story__articles {
    margin: 80px 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 776px) {
  .baby-story__articles {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.story__articles-header {
  color: #6E7C96;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20.625px;
  line-height: 125%;
  margin: 0 0 25px 0;
}
@media (max-width: 776px) {
  .story__articles-header {
    color: #414449;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    font-size: 23.4px;
    line-height: 120%;
    font-weight: 600;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 1336px) {
  .story__articles-items {
    width: 1046px;
  }
}
@media (max-width: 1097px) {
  .story__articles-items {
    width: 100%;
  }
}

.story__articles-item {
  display: block;
  padding: 25px 30px;
  border: 3px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.story__articles-item p {
  color: #A3A9AF;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
  margin: 0 0 8px 0;
}
.story__articles-item span {
  color: #414449;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16.875px;
  line-height: 122%;
}
@media (max-width: 776px) {
  .story__articles-item span {
    font-size: 15px;
    line-height: 125%;
  }
}
.story__articles-item:not(:last-child) {
  margin: 0 0 25px 0;
}
@media (max-width: 776px) {
  .story__articles-item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.story__articles-item:hover {
  border: 3px solid #70AAF8;
}

.main__filter {
  background: #EBE9E6;
  margin: 0px !important;
  padding: 110px 0 60px 0 !important;
}
@media (max-width: 776px) {
  .main__filter {
    padding: 80px 0 60px 0 !important;
  }
}

.main-header__all {
  margin: 0 !important;
}

@media (max-width: 776px) {
  .main__filter-header {
    padding: 0 !important;
    margin: 0px 0 50px 0 !important;
  }
}

@media (max-width: 776px) {
  .filter-header__title h1 {
    color: #414449 !important;
    font-size: 23.4px;
    letter-spacing: 0.05em;
    line-height: 112%;
    font-weight: 800;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
  }
}

@media (max-width: 776px) {
  .filter-header__all-history a {
    color: #6E7C96 !important;
    border-bottom: 1px solid #6E7C96 !important;
    font-size: 13.125px !important;
    line-height: 121% !important;
    font-weight: 500 !important;
  }
}

.main__child-cards {
  margin: 0px !important;
  padding: 0 0 100px 0 !important;
  background: #EBE9E6 !important;
}