@charset "UTF-8";
.main-white__background {
  background: #FFFFFF !important;
}

.projects-separate__navigation {
  margin: 40px 0 0 0;
  background: linear-gradient(91.01deg, rgba(135, 133, 255, 0.5) 0%, rgba(116, 127, 226, 0.5) 50.52%, rgba(94, 205, 218, 0.5) 100%), linear-gradient(0deg, #70AAF8, #70AAF8);
}

@media (max-width: 776px) {
  .projects-separate__navigation {
    display: none;
  }
}

.separate__navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 0;
}

.separate__navigation-link:not(:last-child) {
  margin: 0 6px 0 0;
}

.separate__navigation-link a {
  color: #F2F2F2;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.separate__navigation-link a:hover {
  text-decoration: underline;
}

.separate__navigation-link-divide {
  color: #F2F2F2;
}

.separate__navigation-link-current {
  opacity: 1 !important;
}

.separate__review-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0 30px 0;
}

.separate__review-header-block h2 {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  color: #414449;
  font-weight: 800;
  font-size: 30px !important;
  line-height: 130%;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 876px) {
  .separate__review-header-block h2 {
    font-size: 23.4px !important;
  }
}

@media (max-width: 776px) {
  .separate__review-header-block h2 {
    font-weight: 800 !important;
    line-height: 112% !important;
    letter-spacing: 0.05em !important;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
  }
}

@media (max-width: 400px) {
  .separate__review-header-block h2 {
    font-size: 21.9px !important;
    letter-spacing: 0.02em !important;
  }
}

@media (max-width: 360px) {
  .separate__review-header-block h2 {
    font-size: 20.4px !important;
    font-weight: 700 !important;
  }
}

.separate__review-header-block h2:before {
  content: '«';
  position: absolute;
  top: -3px;
  left: -20px;
}

@media (max-width: 1336px) {
  .separate__review-header-block h2:before {
    display: none;
  }
}

.separate__review-header-block h2:after {
  content: '»';
  position: absolute;
  top: -3px;
  right: -20px;
}

@media (max-width: 1336px) {
  .separate__review-header-block h2:after {
    display: none;
  }
}

.separate__review-header-block span {
  display: none;
}

@media (max-width: 1336px) {
  .separate__review-header-block span {
    display: inline-block;
  }
}

.separate__review-galery {
  margin: 0 0 30px 0;
}

@media (max-width: 1146px) {
  .separate__review-galery {
    margin: 0 0 80px 0;
  }
}

.separate__review-items {
  height: 400px;
  position: relative;
}

@media (max-width: 1146px) {
  .separate__review-items {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 876px) {
  .separate__review-items {
    height: 250px;
  }
}

@media (max-width: 567px) {
  .separate__review-items {
    max-width: 380px;
  }
}

.separate__review-item {
  height: 400px;
  width: 741px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 876px) {
  .separate__review-item {
    height: 250px;
    width: 463px;
  }
}

@media (max-width: 567px) {
  .separate__review-item {
    height: 250px;
  }
}

.separate__review-item img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 567px) {
  .separate__review-item img {
    width: 100%;
    height: 100%;
  }
}

.separate__review-text {
  margin: 0 0 70px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16.875px;
  line-height: 160%;
  color: #414449;
}

.separate__review-text p:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 776px) {
  .separate__review-text {
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
    color: #767885;
  }
}

/* Ограничивающая оболочка */
.separate__review-items .slick-list {
  margin: 0 -16px;
  overflow: hidden;
}

@media (max-width: 567px) {
  .separate__review-items .slick-list {
    border-radius: 20px;
  }
}

/* Лента слайдов */
.separate__review-items .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

@media (max-width: 876px) {
  .separate__review-items .slick-track {
    height: 250px;
  }
}

/* Слайд */
.separate__review-items .slick-slide {
  margin: 0 16px;
  opacity: 0.5;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-slide {
    opacity: 1;
  }
}

.separate__review-items .slick-list.draggable {
  margin: 0 auto;
}

/* Слайд основной */
/* Слайд по центру */
.separate__review-items .slick-slide.slick-center {
  opacity: 1;
}

.separate__review-items .slick-arrow {
  position: absolute;
  bottom: 43%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 2px solid #E2E2E2;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow {
    border: none;
    background-color: none;
    top: 170px;
    width: 24px;
    height: 24px;
    border-radius: 0%;
  }
}

@media (max-width: 876px) {
  .separate__review-items .slick-arrow {
    top: 45%;
  }
}

.separate__review-items .slick-arrow:hover {
  border: 2px solid #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover {
    border: none;
  }
}

.separate__review-items .slick-arrow:hover:before {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover:before {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:hover:after {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover:after {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:active {
  border: 2px solid #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active {
    border: none;
  }
}

.separate__review-items .slick-arrow:active:before {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active:before {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:active:after {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active:after {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:before {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  content: '';
  position: absolute;
  top: 19.5px;
  left: 27px;
  width: 2px;
  height: 10px;
  background: #E2E2E2;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  border-radius: 5px;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:before {
    top: 4px;
    left: 8.5px;
    background: #414449;
    border-radius: none;
  }
}

.separate__review-items .slick-arrow:after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  content: '';
  position: absolute;
  top: 26.5px;
  left: 27px;
  width: 2px;
  height: 10px;
  background: #E2E2E2;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  border-radius: 5px;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:after {
    top: 10px;
    left: 8.5px;
    background: #414449;
    border-radius: none;
  }
}

.separate__review-items .slick-arrow.slick-prev {
  left: 290px;
}

@media (max-width: 1310px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 274px;
  }
}

@media (max-width: 1287px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 264px;
  }
}

@media (max-width: 1260px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 254px;
  }
}

@media (max-width: 1220px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 234px;
  }
}

@media (max-width: 1190px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 214px;
  }
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -15px;
  }
}

@media (max-width: 1046px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -5px;
  }
}

@media (max-width: 567px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -15px;
  }
}

.separate__review-items .slick-arrow.slick-next {
  right: 290px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 1310px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 274px;
  }
}

@media (max-width: 1287px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 264px;
  }
}

@media (max-width: 1260px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 254px;
  }
}

@media (max-width: 1220px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 234px;
  }
}

@media (max-width: 1190px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 214px;
  }
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -15px;
  }
}

@media (max-width: 1046px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -5px;
  }
}

@media (max-width: 567px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -15px;
  }
}

.separate__review-items .slick-arrow.slick-disabled {
  opacity: 0.5;
}

/* Точки (булиты) */
.separate__review-items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 0;
}

.separate__review-items .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

/* Элемент точки */
.separate__review-items .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #BEC5CC;
  border-radius: 50%;
}

/* Активная точка */
.separate__review-items .slick-active button {
  background: linear-gradient(99.04deg, rgba(247, 35, 86, 0.88) 2.83%, rgba(251, 57, 127, 0.88) 52.94%, rgba(251, 75, 0, 0.88) 95.33%);
}
