@charset "UTF-8";
.main-white__background {
  background: #FFFFFF !important;
}

.who-cares__banner {
  background: -webkit-gradient(linear, left top, right top, from(#F2709C), to(#FF9472));
  background: linear-gradient(90deg, #F2709C 0%, #FF9472 100%);
  height: 220px;
  width: 100%;
}

@media (max-width: 776px) {
  .who-cares__banner {
    height: 244px;
  }
}

@media (max-width: 479px) {
  .who-cares__banner {
    height: 284px;
  }
}

@media (max-width: 400px) {
  .who-cares__banner {
    height: 304px;
  }
}

.who-cares__banner-container {
  height: 220px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 5;
}

@media (max-width: 776px) {
  .who-cares__banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 30px 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.who-cares__banner-header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 45px;
  line-height: 125%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

@media (max-width: 1046px) {
  .who-cares__banner-header h1 {
    font-size: 30px;
    line-height: 112%;
    letter-spacing: 0.05em;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
  }
}

@media (max-width: 776px) {
  .who-cares__banner-header h1 {
    margin: 0 0 20px 0;
    padding: 0 15px;
  }
}

@media (max-width: 479px) {
  .who-cares__banner-header h1 {
    font-size: 23.4px;
  }
}

.who-cares__banner-info {
  font-family: 'Lato', sans-serif;
  width: 225px;
  max-height: 190px;
  overflow: hidden;
  color: #FFFFFF;
}

.who-cares__banner-info p {
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
  margin: 0 0 8px 0;
}

.who-cares__banner-info span {
  display: block;
  font-weight: 700;
  font-size: 18.75px;
  line-height: 120%;
  margin: 0 0 9px 0;
}

@media (max-width: 776px) {
  .who-cares__banner-info {
    height: inherit;
    width: 100%;
  }
}

.banner-info__summ {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  margin: 0 0 18px 0;
}

@media (max-width: 1046px) {
  .banner-info__summ span {
    display: none;
  }
}

@media (max-width: 776px) {
  .banner-info__summ {
    margin: 0 30px 18px;
  }
}

.mobile__summ-view {
  display: none !important;
}

@media (max-width: 1046px) {
  .mobile__summ-view {
    display: inherit !important;
  }
}

.banner-info__diagnosis {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 776px) {
  .banner-info__diagnosis {
    border-bottom: none;
    padding: 0 15px;
  }
}

.who-cares__navigation {
  margin: 35px 0 100px 0;
}

@media (max-width: 1146px) {
  .who-cares__navigation {
    margin: 35px 0 60px 0;
  }
}

@media (max-width: 776px) {
  .who-cares__navigation {
    display: none;
  }
}

.who-cares__navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 0;
}

.who-cares__navigation-link:not(:last-child) {
  margin: 0 6px 0 0;
}

.who-cares__navigation-link-main {
  color: #A3A9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
}

.who-cares__navigation-link-main:hover {
  text-decoration: underline;
}

.who-cares__navigation-link-divide {
  color: #A3A9AF;
  font-size: 13.125px;
  line-height: 121%;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.who-cares__navigation-link-current {
  color: #6E7C96;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 121%;
}

.who-cares__navigation-link-current:hover {
  text-decoration: underline;
}

@media (max-width: 776px) {
  .separate__review {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 1146px) {
  .separate__review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.separate__review-header {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #414449;
  font-weight: 700;
  font-size: 35.625px;
  line-height: 122%;
  margin: 0 0 30px 0;
}

@media (max-width: 1146px) {
  .separate__review-header {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 80px 0 0 0;
  }
}

@media (max-width: 776px) {
  .separate__review-header {
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.25);
    font-size: 23.4px;
    line-height: 112%;
    font-weight: 800;
  }
}

@media (max-width: 1146px) {
  .separate__review-galery {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.separate__review-items {
  height: 400px;
  position: relative;
}

@media (max-width: 1146px) {
  .separate__review-items {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 876px) {
  .separate__review-items {
    height: 250px;
  }
}

@media (max-width: 567px) {
  .separate__review-items {
    max-width: 380px;
  }
}

.separate__review-item {
  height: 400px;
  width: 741px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

@media (max-width: 876px) {
  .separate__review-item {
    height: 250px;
    width: 463px;
  }
}

@media (max-width: 567px) {
  .separate__review-item {
    height: 250px;
  }
}

.separate__review-item img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 567px) {
  .separate__review-item img {
    width: 100%;
    height: 100%;
  }
}

.separate__review-text {
  text-align: justify;
  margin: 30px 0 70px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16.875px;
  line-height: 160%;
  color: #414449;
}

.separate__review-text p:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 776px) {
  .separate__review-text {
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
  }
}

/* Ограничивающая оболочка */
.separate__review-items .slick-list {
  margin: 0 -16px;
  overflow: hidden;
}

@media (max-width: 567px) {
  .separate__review-items .slick-list {
    border-radius: 20px;
  }
}

/* Лента слайдов */
.separate__review-items .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

@media (max-width: 876px) {
  .separate__review-items .slick-track {
    height: 250px;
  }
}

/* Слайд */
.separate__review-items .slick-slide {
  margin: 0 16px;
  opacity: 0.5;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-slide {
    opacity: 1;
  }
}

.separate__review-items .slick-list.draggable {
  margin: 0 auto;
}

/* Слайд основной */
/* Слайд по центру */
.separate__review-items .slick-slide.slick-center {
  opacity: 1;
}

.separate__review-items .slick-arrow {
  position: absolute;
  bottom: 43%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 2px solid #E2E2E2;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow {
    border: none;
    background-color: none;
    top: 170px;
    width: 24px;
    height: 24px;
    border-radius: 0%;
  }
}

@media (max-width: 876px) {
  .separate__review-items .slick-arrow {
    top: 45%;
  }
}

.separate__review-items .slick-arrow:hover {
  border: 2px solid #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover {
    border: none;
  }
}

.separate__review-items .slick-arrow:hover:before {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover:before {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:hover:after {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:hover:after {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:active {
  border: 2px solid #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active {
    border: none;
  }
}

.separate__review-items .slick-arrow:active:before {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active:before {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:active:after {
  background: #719AED;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:active:after {
    background: #414449;
  }
}

.separate__review-items .slick-arrow:before {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  content: '';
  position: absolute;
  top: 19.5px;
  left: 27px;
  width: 2px;
  height: 10px;
  background: #E2E2E2;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  border-radius: 5px;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:before {
    top: 4px;
    left: 8.5px;
    background: #414449;
    border-radius: none;
  }
}

.separate__review-items .slick-arrow:after {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  content: '';
  position: absolute;
  top: 26.5px;
  left: 27px;
  width: 2px;
  height: 10px;
  background: #E2E2E2;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  border-radius: 5px;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow:after {
    top: 10px;
    left: 8.5px;
    background: #414449;
    border-radius: none;
  }
}

.separate__review-items .slick-arrow.slick-prev {
  left: 290px;
}

@media (max-width: 1310px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 274px;
  }
}

@media (max-width: 1287px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 264px;
  }
}

@media (max-width: 1260px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 254px;
  }
}

@media (max-width: 1220px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 234px;
  }
}

@media (max-width: 1190px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: 214px;
  }
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -15px;
  }
}

@media (max-width: 1046px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -5px;
  }
}

@media (max-width: 567px) {
  .separate__review-items .slick-arrow.slick-prev {
    left: -15px;
  }
}

.separate__review-items .slick-arrow.slick-next {
  right: 290px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 1310px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 274px;
  }
}

@media (max-width: 1287px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 264px;
  }
}

@media (max-width: 1260px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 254px;
  }
}

@media (max-width: 1220px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 234px;
  }
}

@media (max-width: 1190px) {
  .separate__review-items .slick-arrow.slick-next {
    right: 214px;
  }
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -15px;
  }
}

@media (max-width: 1046px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -5px;
  }
}

@media (max-width: 567px) {
  .separate__review-items .slick-arrow.slick-next {
    right: -15px;
  }
}

.separate__review-items .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.separate__review-items .slick-arrow.slick-disabled:hover {
  border: 2px solid #E2E2E2;
}

@media (max-width: 1146px) {
  .separate__review-items .slick-arrow.slick-disabled:hover {
    border: none;
  }
}

.separate__review-items .slick-arrow.slick-disabled:hover:after {
  background: #E2E2E2;
}

.separate__review-items .slick-arrow.slick-disabled:hover:before {
  background: #E2E2E2;
}

/* Точки (булиты) */
.separate__review-items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 0;
}

.separate__review-items .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

/* Элемент точки */
.separate__review-items .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #BEC5CC;
  border-radius: 50%;
}

/* Активная точка */
.separate__review-items .slick-active button {
  background: linear-gradient(99.04deg, rgba(247, 35, 86, 0.88) 2.83%, rgba(251, 57, 127, 0.88) 52.94%, rgba(251, 75, 0, 0.88) 95.33%);
}

.separate__help-child {
  background: #EBE9E6;
  padding: 100px 0 120px 0;
}

@media (max-width: 776px) {
  .separate__help-child {
    padding: 80px 0;
  }
}

@media (max-width: 479px) {
  .separate__help-child-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.help-child__header {
  font-family: 'Roboto', sans-serif;
  color: #6E7C96;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin: 0 0 60px 0;
}

@media (max-width: 479px) {
  .help-child__header {
    color: #414449;
    font-size: 23.4px;
    letter-spacing: 0.05em;
    line-height: 112%;
    margin: 0 0 52px 0;
  }
}

.main__payment {
  margin: 0 auto 0 auto;
}
