<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__top">
			<div class="footer__top-logo">
				<img src="/pictures/goodness/footer/logo.png" alt="logo">
			</div>
			<div class="footer__top-navigation footernav">
				<div class="footernav__top">
					<div class="footernav__top-link link-frame">
						<a class="footernav__top-link-frame" href="/environment/templates/environment/goodness/goodness_who-cares.html">
							<img src="/pictures/goodness/footer/frame.png" alt="frame" class="footernav__top-link-frame-white">
							<img src="/pictures/goodness/footer/frame_hover.png" alt="frame_hover" class="footernav__top-link-frame-hover">
							<p>кому помогли</p>
						</a>
					</div>
					<div class="footernav__top-link link-baby">
						<a class="footernav__top-link-baby" href="#">
							<img src="/pictures/goodness/footer/baby-boy.png" alt="baby-boy" class="footernav__top-link-baby-white">
							<img src="/pictures/goodness/footer/baby-boy_hover.png" alt="baby-boy_hover" class="footernav__top-link-baby-hover">
							<p>кому помочь</p>
						</a>
					</div>
					<div class="footernav__top-link link-ambulance">
						<a class="footernav__top-link-ambulance" href="/environment/templates/environment/goodness/goodness_get-help.html">
							<img src="/pictures/goodness/footer/ambulance.png" alt="ambulance" class="footernav__top-link-ambulance-white">
							<img src="/pictures/goodness/footer/ambulance_hover.png" alt="ambulance_hover" class="footernav__top-link-ambulance-hover">
							<p>получить помощь</p>
						</a>
					</div>
				</div>
				
				<nav class="footernav__bot">
					<ul class="footernav__bot-list">
	            	<li class="footernav__bot-item">
                 		<a href="/environment/templates/environment/goodness/goodness_fonds.html" class="footernav__bot-link">о фонде</a>
        				</li>
	            	<li class="footernav__bot-item">
                 		<a href="/environment/templates/environment/goodness/goodness_reports.html" class="footernav__bot-link">отчеты</a>
        				</li>
	            	<li class="footernav__bot-item">
                 		<a href="/environment/templates/environment/goodness/goodness_projects.html" class="footernav__bot-link">проекты</a>
        				</li>
	            	<li class="footernav__bot-item">
                 		<a href="/environment/templates/environment/goodness/goodness_news.html" class="footernav__bot-link">новости</a>
        				</li>
	            	<li class="footernav__bot-item">
                 		<a href="/environment/templates/environment/goodness/goodness_contacts.html" class="footernav__bot-link">контакты</a>
        				</li>
					</ul>
				</nav>
			</div>
			<div class="footer__top-contact contact-footer">
				<div class="contact-footer__phone">
					<img src="/pictures/goodness/footer/phone.png" alt="phone">
					<p>8 (861) 203-45-45</p>
				</div>
				<div class="contact-footer__address">
					<p>г. Краснодар, ул. Красная, д.42, 1 этаж</p>
				</div>
				<div class="contact-footer__mail">
					<img src="/pictures/goodness/footer/mail.png" alt="mail">
					<p>info@kray-dobra.ru</p>
				</div>	
			</div>
		</div>

		<div class="footer__bot">
			<div class="footer__bot-policy">
				<p>Политика конфиденциальности</p>
			</div>
			<div class="footer__bot-copyright">
				<p>© 2022 Благотворительный фонд помощи детям «Край добра»</p>
			</div>
			<div class="footer__bot-media">
				<div class="footer__bot-social">
					<div class="footer__bot-social-link">
						<a href=""><img src="/pictures/goodness/footer/ok.png" alt="ok"></a>
					</div>
					<div class="footer__bot-social-link">
						<a href=""><img src="/pictures/goodness/footer/vk.png" alt="vk"></a>
					</div>
					<div class="footer__bot-social-link">
						<a href=""><img src="/pictures/goodness/footer/facebook.png" alt="facebook"></a>
					</div>
					<div class="footer__bot-social-link">
						<a href=""><img src="/pictures/goodness/footer/instagram.png" alt="instagram"></a>
					</div>
				</div>
				<div class="footer__bot-scan">
					<img src="/pictures/goodness/footer/qr.png" alt="qr">
				</div>
				
			</div>
		</div>
	</div>
</footer>