<header class="header">
	<div class="header__container _container">
		<div class="header__logo">
			<div class="header__logo-img">
				<a href="/environment/templates/environment/goodness/goodness_main.html"><img class="logo__main" src="/pictures/goodness/header/logo.png" alt="logo"></a>
				<img class="logo__text-title" src="/pictures/goodness/header/logo_title.png" alt="logo_title">
				<img class="logo__text-letter" src="/pictures/goodness/header/logo_title_D.png" alt="logo_title_D">
				<img class="logo__text-more" src="/pictures/goodness/header/logo_text.png" alt="logo_text">
			</div>
		</div>
		<div class="header__menu">
			<div class="header__menu-top help">
				<div class="help__mail">
					<img src="/pictures/goodness/header/mail.png" alt="mail" class="mail__blue">
					<img src="/pictures/goodness/header/mail_black.png" alt="mail_black" class="mail__black">
					<p>info@kray-dobra.ru</p>
				</div>
				<div class="help__phone">
					<img src="/pictures/goodness/header/phone.png" alt="phone" class="phone__blue">
					<img src="/pictures/goodness/header/phone_black.png" alt="phone_black" class="phone__black">
					<p>8(861)203-45-45</p>
				</div>
				<!-- ссылка на страницу с способами оплаты? -->
				<div class="help__donation donate-link-transparent"><a tabindex="1" href="#">хочу помочь</a></div>
			</div>

			<!-- Бургер на 776px -->
			<div class="header__burger-block">
				<div class="header__burger-button">
					<span></span>
				</div>			
			</div>

			<nav class="header__menu-bot navigation">
				<ul class="navigation__list">
            	<li class="navigation__item">
              		<a tabindex="2" href="/environment/templates/environment/goodness/goodness_fonds.html" class="navigation__link">о фонде</a>
     				</li>
            	<li class="navigation__item">
              		<a tabindex="3" href="/environment/templates/environment/goodness/goodness_reports.html" class="navigation__link">отчеты</a>
     				</li>
            	<li class="navigation__item">
              		<a tabindex="4" href="/environment/templates/environment/goodness/goodness_projects.html" class="navigation__link">проекты</a>
     				</li>
            	<li class="navigation__item">
              		<a tabindex="5" href="/environment/templates/environment/goodness/goodness_news.html" class="navigation__link">новости</a>
     				</li>
            	<li class="navigation__item">
              		<a tabindex="6" href="/environment/templates/environment/goodness/goodness_contacts.html" class="navigation__link">контакты</a>
     				</li>
				</ul>
			</nav>
		</div>
	</div>
</header>